@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary: #2E4EEA;
  --border: #BFBFBF;
  --text-muted: #595959;
  --tag-bg: #CDD5FA
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-border: var(--border);
  --color-text-muted: var(--text-muted);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: black;
  font-family: var(--font-inter), sans-serif;
}

@keyframes stepEnter {
  from {
    opacity: 0;
    transform: translateX(16px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.step-enter {
  animation: stepEnter 0.25s ease-out;
}

/* ─── Design-system typography tokens (Figma: desktop-font/*) ─── */
@layer utilities {
  .font-small-regular {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: #1F1F1F
  }

  .font-p-regular {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }

  .font-h5 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  .font-table-fields {
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    color: var(--text-muted);
  }
}
